<!DOCTYPE html>
<html>
<head>
  <title>Customers</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <div>
    <a href="/" class="btn btn-primary ml-3">Home</a>  
    <a href="/customers/add" class="btn btn-secondary ml-3">New Student</a> 
    <a href="/customers" class="btn btn-info ml-3">Student List</a>
</div>    
 
<br>
  <table class="table">
<thead>
  <tr>
    <th scope="col">#</th>
	<th scope="col">First Name</th>
	<th scope="col">Last Name</th>
	<th scope="col">Class</th>
	<th scope="col">Section</th>
	<th scope="col">School Name</th>
 
  </tr>
</thead>
<tbody>
  <% if(student_details.length){
 
  for(var i = 0; i< student_details.length; i++) {%>  
  <tr>
    <th scope="row"><%= (i+1) %></th>
    <td><%= student_details[i].student_first_name%></td>
    <td><%= student_details[i].student_last_name%></td>
    <td><%= student_details[i].student_class%></td>
    <td><%= student_details[i].student_class_section%></td>
    <td><%= student_details[i].student_school_name%></td>
    <td>
    <a class="btn btn-success edit" href="../customers/edit/<%=student_details[i].id%>">Edit</a>                       
    <a class="btn btn-danger delete" onclick="return alert('Are You sure?')" href="../customers/delete/<%=student_details[i].id%>">Delete</a>                       
   </td>
  </tr>
  <% }
           
   }else{ %>
       <tr>
          <td colspan="3">No user</td>
       </tr>
    <% } %>    
  
</tbody>
</table>
</body>
</html>